.header__noficications {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
  position: sticky;
  top: 0; 
  z-index: 1; 
  -webkit-backdrop-filter: blur(50px);
  -o-backdrop-filter: blur(50px);
  -moz-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);

}

.notifications {
    background-color: #f5f8fa;
    padding: 15px 20px 20px 20px;
    overflow-y: scroll;
    max-height: 100vh;
  }
  .notifications::-webkit-scrollbar {
    display: none;
  }
  
  .notifications__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .notification {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .notification__content {
    flex: 1;
  }
  
  .notification__text {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .notification__timestamp {
    font-size: 12px;
    color: #657786;
  }
  
  .notification__details {
    display: flex;
    align-items: center;
    padding: 2%;
  }
  
  .notification__type {
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
  }

  .notification__icon{
    font-size: 20px;
    color: var(--twitter-color);
    margin-right: 7%;
  }
  
  .notification__profile-picture {
    width: 40px;
    height: 40px;
    border: 2px solid var(--twitter-background);
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .notification__username {
    font-size: 14px;
    font-weight: bold;
  }
  
  .notification__divider {
    border: none;
    border-top: 1px solid #e6ecf0;
    margin-top: 10px;
  }
  
  .notification.unread {
    background-color: #c5def1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .notification.unread .notification__text {
    font-weight: bold;
  }
  
  .notification.unread .notification__type {
    color: var(--twitter-color);
  }
  
  .mark-all-read-button{
    background-color: var(--twitter-color);
    color: #ffffff;
    right: 20px;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
  }
  