.sidebarOption {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .sidebarOption:hover {
    background-color: #e8f5fe;
    border-radius: 30px;
    color: var(--twitter-color);
    transition: color 100ms ease-out;
  }
  
  .sidebarOption > .MuiSvgIcon-root {
    padding: 0.5em;
  }
  
  .sidebarOption > h2 {
    font-weight: 800;
    font-size: 1.35em;
    margin-right: 1.5em;
  }
  
  .sidebarOption--active {
    color: var(--twitter-color);
  }


  @media (max-width: 768px) {
    .sidebarOption > h2 {
     display: none;
    }

    .sidebarOption{
      margin: 0;
      justify-content: center;
    }

    .sidebarOption > .MuiSvgIcon-root {
      padding: 0.5em;
      font-size: 2.0em;
      font-weight: 800;
    }
  }
    
  
  @media (max-width: 600px) {

    .sidebarOption > .MuiSvgIcon-root {
      padding: 0.5em;
      font-size: 1.5em;
      font-weight: 800;
    }

  }

 


  
 